// .ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {display: none;}
// .ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {display: none;}
// #view-location input[type="number"] {width: 4em;text-align: right;}
// #view-location .inline-labels .item-title  { width: 70%; }
// #view-location .inline-labels .item-input-wrap  { width: 30%; }
// .tab-link.tab-link-active .badge {background-color: rgb(0, 122, 255);}
// .page-content .list.no-more-showings { text-align: center; }
// .page-content .list.no-more-showings .list-note {display: inline;font-style: italic;font-family: 'Times New Roman', Times, serif;}
// .page-content .list .list-note { display: none; }
// .page-content .list ul li.no-more-showings {display: none;}
.ios .tabbar-labels .tab-link {
  &:not(.tab-link-active) .icon-ios-fill,
  &.tab-link-active .icon:not(.icon-ios-fill) {
    display: none;
  }
}

#view-location {
  input[type="number"] {width: 4em;text-align: right;}
  .inline-labels {
    .item-title  { width: 70%; }
    .item-input-wrap  { width: 30%; }
  }
}

.page-content .list {
  &.no-more-showings {
    text-align: center;

    .list-note {
      display: inline;
      font-style: italic;
      ont-family: 'Times New Roman', Times, serif;
    }
  }
  .list-note { display: none; }
  ul li.no-more-showings {display: none;}
}
