  @import '../lib/framework7/css/framework7.bundle.css';

  @media screen and (min-width: 700px) {
    body {
      width: 700px;
      border: 1px solid black;
      margin-left: 2em;
    }
 }

.ios .tabbar-labels .tab-link {
  &:not(.tab-link-active) .icon-ios-fill,
  &.tab-link-active .icon:not(.icon-ios-fill) {
    display: none;
  }
}

#view-filters {
  input[type="number"] {width: 4em;text-align: right;}
  .inline-labels {
    .item-title  { width: 70%; }
    .item-input-wrap  { width: 30%; }
  }
}

.panel-right .list:not(.active-list) {
  display: none;
}

.view .navbar .mark-clear {
  &.all-selected {
    .mark-all {display: none; }
  }
  &:not(.all-selected) {
    .clear-all { display: none; }
  }
}

.page-content .list {
  &.no-more-showings {
    text-align: center;

    .list-note {
      display: inline;
      font-style: italic;
      font-family: 'Times New Roman', Times, serif;
    }
  }
  .list-note { display: none; }
  ul li.no-more-showings {
    color: rgba(0, 0, 0, .5);
  }
}
