  @import '../lib/framework7/css/framework7.bundle.css';

.ios .tabbar-labels .tab-link {
  &:not(.tab-link-active) .icon-ios-fill,
  &.tab-link-active .icon:not(.icon-ios-fill) {
    display: none;
  }
}

#view-filters {
  input[type="number"] {width: 4em;text-align: right;}
  .inline-labels {
    .item-title  { width: 70%; }
    .item-input-wrap  { width: 30%; }
  }
}

.popup {
  .block-title {
    color: var(--f7-theme-color);
    text-align: center;
  }

  .block.block-tall {
    height: 100%;
    .erase-remember { margin-top: 100%; }
  }
}

.view .navbar .mark-clear {
  &.all-selected {
    .mark-all {display: none; }
  }
  &:not(.all-selected) {
    .clear-all { display: none; }
  }
}

.page-content .list {
  &.no-more-showings {
    text-align: center;

    .list-note {
      display: inline;
      font-style: italic;
      font-family: 'Times New Roman', Times, serif;
    }
  }
  .list-note { display: none; }
  ul li.no-more-showings {display: none;}
}
